<router-outlet></router-outlet>


<div class="container">
  <br>
  <div>
    <h1>Vass <small>Prueba Angular</small></h1>
  </div>
  <hr>
  <div>
    <button class="btn btn-danger" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2" (click)="nuevoUser(true)">nuevo ( + )</button>
    <strong> <-- Permite crear nuevo usuario</strong> 
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Ver Mas</th>
          <th scope="col">update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td><small>{{usuario.name}}</small></td>
          <td><small>{{usuario.email}}</small></td>
          <td><small>{{usuario.phone}}</small></td>
          <td><button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)=goRuta2(usuario)>Ver</button></td>
          <td><button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal3" (click)=updateDatos(usuario)>Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mostrar">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{persona.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>username:</strong> {{persona.username}}</p>
            <p><strong>city:</strong> {{persona.address.city}}</p>
            <p><strong>address:</strong> {{persona.address.street}} {{persona.address.suite}}</p>
            <p><strong>company:</strong> {{persona.company.name}}</p>
            <p><strong>website:</strong> {{persona.website}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="borrarUser(persona.id)">Borrar</button>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div *ngIf="nuevo">
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro de usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">Cerrar</span>
            </button>
          </div>
          <div class="modal-body">
          <!--formulario-->
          <form [formGroup]="formprueba" (ngSubmit)="guardarDatos()">
            <div class="encabezado">
              <p><i class="fa fa-users" aria-hidden="true"></i><strong> Datos basicos de usuario </strong></p>
            </div>
            <hr>
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>Name</strong></label>
              </div>
              <input type="text" formControlName="name" class="form-control">
            </div>
          
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>username</strong></label>
              </div>
              <input type="text" formControlName="username" class="form-control">
            </div>

            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>phone</strong></label>
              </div>
              <input type="text" formControlName="phone" class="form-control">
            </div>               

            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>email</strong></label>
              </div>
              <input type="text" formControlName="email" class="form-control">
            </div>     

            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>website</strong></label>
              </div>
              <input type="text" formControlName="website" class="form-control">
            </div>              
            
            <div class="encabezado">
              <p><i class="fa fa-users" aria-hidden="true"></i><strong> Datos georeferenciales de usuario </strong></p>
            </div>
            <hr> 
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>street</strong></label>
              </div>
              <input type="text" formControlName="street" class="form-control">
            </div>  
            
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>suite</strong></label>
              </div>
              <input type="text" formControlName="suite" class="form-control">
            </div>  
            
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>city</strong></label>
              </div>
              <input type="text" formControlName="city" class="form-control">
            </div>    
            
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>zipcode</strong></label>
              </div>
              <input type="text" formControlName="zipcode" class="form-control">
            </div>    
            
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>lng</strong></label>
              </div>
              <input type="number" formControlName="lng" class="form-control">
            </div>  
           
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>lat</strong></label>
              </div>
              <input type="number" formControlName="lat" class="form-control">
            </div>     
            
            <div class="encabezado">
              <p><i class="fa fa-users" aria-hidden="true"></i><strong> Datos compañia </strong></p>
            </div>
            <hr>     
            
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>name company</strong></label>
              </div>
              <input type="text" formControlName="namecompany" class="form-control">
            </div>  

            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>catchPhrase</strong></label>
              </div>
              <input type="text" formControlName="catchPhrase" class="form-control">
            </div>  
            
            <div class="form-group">
              <div class="centrar">
                <label class="hr1"><strong>bs</strong></label>
              </div>
              <input type="text" formControlName="bs" class="form-control">
            </div>            
                         
          
            <div class="form-group centrar">
              <button type="submit" class="btn btn-success" [disabled]="!formprueba.valid">
                Guardar
              </button>
            </div>
          
            <div class="mensaje">
              <span class="text-danger" *ngIf="mensaje !='no'">{{Mensaje}}</span>
            </div>
          
          
          </form>
          <!--formulario-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>  
  </div>  

  <div *ngIf="modificar">
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModal3Label">Modificar Datos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formprueba" (ngSubmit)="ActualizarDatos()">



              <div class="form-group">
                <div class="centrar">
                  <label class="hr1"><strong>Name</strong></label>
                </div>
                <input type="text" formControlName="name" class="form-control" [(ngModel)]="personaupdate.name">
              </div>

              <div class="form-group">
                <div class="centrar">
                  <label class="hr1"><strong>phone</strong></label>
                </div>
                <input type="text" formControlName="phone" class="form-control" [(ngModel)]="personaupdate.telefono">
              </div>  
              
              <div class="form-group">
                <div class="centrar">
                  <label class="hr1"><strong>email</strong></label>
                </div>
                <input type="text" formControlName="email" class="form-control" [(ngModel)]="personaupdate.correo">
              </div>               

              <div class="form-group centrar">
                <button type="submit" class="btn btn-success">
                  Guardar
                </button>
              </div>

            </form>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
 


<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3">
    
    <p> © 2021 Copyright: <strong>andres.rios.ramos@hotmail.com</strong></p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->  

</div>



